*{
	margin: 0; 
	padding: 0;
	font-size: 16px;
}

html{
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
	color: rgb(0, 0, 0);
}

::selection {
	color: rgb(0, 0, 0);
	background: rgb(199, 201, 91);
}

h1, p {
	margin: 0;
}

body{
	margin: 0;
	padding: 0;

	font-family: "Bebas Neue", sans-serif;
	font-family: "Quicksand", sans-serif;
	font-family: "Archivo", sans-serif;
	font-family: "Nixie One", system-ui;
	font-family: "Francois One", sans-serif;
	font-family: "Roboto", sans-serif;
	font-family: "Quicksand", sans-serif;
	font-family: "Archivo", sans-serif;

	font-weight: 400;
	font-style: normal
}



@media only screen and (max-width: 2800px) {
	body{
		background-color: rgb(255, 255, 255);

		width: 60%;
		margin: auto;
	}


}

@media only screen and (max-width: 1400px) {
	body{
		background-color: rgba(167, 210, 24, 0);
		width: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	body{
		background-color: rgba(0, 255, 217, 0);
	}

}

@media only screen and (max-width: 900px) {
	body{
		background-color: rgba(7, 81, 253, 0);
	}
}

@media only screen and (max-width: 800px) {
	body{
		background-color: rgba(226, 238, 8, 0);
	}

}

@media only screen and (max-width: 700px) {
	body{
		background-color: rgba(207, 13, 221, 0);
	}

}

@media only screen and (max-width: 300px) {
	body{
		background-color: rgba(246, 11, 11, 0);
	}
}