*{
	margin: 0; 
	padding: 0;
	font-size: 14px;
}

html{
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
	color: rgb(0, 0, 0);
}

::selection {
	color: rgb(0, 0, 0);
	background: rgb(237, 241, 30);
}

body{
	margin: 0;
	padding: 0;

	
	font-family: "Bebas Neue", sans-serif;
	font-family: "Roboto", sans-serif;
	font-family: "Cal Sans", sans-serif;
	font-family: "Francois One", sans-serif;
	font-family: "Nixie One", system-ui;
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	font-style: normal
}

p{
	margin: 1em 0;
	padding: 0;
	line-height: 1.6em;
}

.container{
	margin: 0;
	padding: 1em;
	border-bottom: 1px solid grey;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: start;
}

/* container colors main recepe etc */

.container:nth-of-type(1){
	border-bottom: none;
	font-size: 2em;
	margin: 0;
	padding: 1em 0.5em;
	color: rgb(255, 255, 255);
	background-color: rgba(118, 112, 79, 0.91);
	font-family: "Bebas Neue", sans-serif;
}

.container:nth-of-type(2){
	border-bottom: none;
	font-size: 2.5em;
	margin: 0;
	padding: 1em 0.5em;
	color: rgb(0, 0, 0);
	background-color: rgba(247, 247, 222, 0.096);
	font-family: "Bebas Neue", sans-serif;
}

.container:nth-of-type(3){
	border-bottom: 1px solid grey;
	background-color: rgb(255, 255, 255);
	position: sticky;
	top: 0;
}

.container:nth-of-type(4){
	background-color: #ffffff;
}

/* about all recipes section */


.container:nth-of-type(5){
	border: none;
	background-color: #ebebeb69;
}
.container:nth-of-type(6){
	border: none;
	background-color: #ebebeb69;
}
.container:nth-of-type(7){
	border: none;
	background-color: #ebebeb69;
}

/* about container section */

.container:nth-of-type(8){
	border: none;
	background-color: #c0c3ad;
}
.container:nth-of-type(9){
	border: none;
	background-color: #c0c3ad;
}
.container:nth-of-type(10){
	border: none;
	background-color: #c0c3ad;
}

/* info container section */

.container:nth-of-type(11){
	border: none;
	background-color: #82b18b;
}
.container:nth-of-type(12){
	border: none;
	background-color: #82b18b;
}
.container:nth-of-type(13){
	border: none;
	background-color: #82b18b;
}

/* credit / footer container section */

.container:nth-of-type(14){
	border: none;
	background-color: #949672;
}
.container:nth-of-type(15){
	border-bottom: none;
	background-color: #949672;
	color: white;
}
.container:nth-of-type(16){
	border-bottom: none;
	background-color: #949672;
	color: rgb(255, 255, 255);
}

/* container inners */

.container_inner{
	margin: 0 1em 1em 0;
	padding: 0.5em 0;
	min-height: 10rem;
	border-top: 1px solid grey;
}

.container_inner:nth-of-type(1){
	border-top: none;
}

.container_inner img{
	width: 100%;
	margin: 1em 0 0 0;
	height: auto;
	margin: 1em 1emm 0 0;
}

.container_inner ul{
	list-style: none;
}

.container_inner ul li{
	display: inline;
	font-size: 2em;
	margin: 0 1em 0 0;
	font-weight: 700;
	color: rgb(0, 0, 0);
}

/* widths */

#w20{
	width: 22%;
}

#w50{
	width: 46%;
}

#w100{
	width: 100%;
}

/* ingredients */

#ingredients{
	color: rgb(162, 164, 217);
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	line-height: 1.8em;
}

#ingredients ul{
	list-style: none;
}

#ingredients ul li{
	font-size: 1.2em;
	display: block;
}

/* headline + nav */

.headline{
	width: 100%;
	margin: 0 1em 0 0;

	text-transform: capitalize;
	font-size: 1.5em;
	font-weight: 700;
	font-family: "Nixie One", system-ui;;
}

#nav ul{
	list-style: none;
}

#nav ul li{
	display: inline;
	margin: 0 1em 0 0;

}

#nav a:hover{
	color: rgb(0, 8, 255);
}

/* standout */

#standout{
	color: rgb(255, 0, 0);
}

#standout a{
	color: rgba(0, 0, 0, 0.979);
	font-weight: 900;
	font-size: 1em;
	font-family: "Nixie One", system-ui;
	text-transform: capitalize;
}

/* about section */

.about{
	width: 40%;
	margin: 0 1em 1em 0;
	padding: 1em;
	background-color: rgba(255, 0, 0, 0);
	border-top: 1px solid grey;
}

.about img{
	width: 100%;
	margin: 0 0 1em 0;
	overflow: hidden;
	height: 5em;
	width: 5em;
}

/* allrecps section */

.container_inner_allrecps{
	font-size: 0.8em;
	margin: 0 1em 1em 0;
	padding: 0.5em 0;
	width: 30%;
	border-top: 1px solid grey;
}

.container_inner_allrecps img{
	margin: 0 1em 1em 0;
	padding: 0.5em 0;
	width: 100%;

}

/* footer (credit) sections */

.footer{
	width: 30%;
	float: left;
	margin: 0 1em 1em 0;
	padding: 0.5em 0;
	font-size: 1em;
}

.footer img{
	width: 30%;
}

.foothead{
	font-weight: 700;
	margin: 0 0 0.5em 0;
	padding: 0;
	border-bottom: 1px solid grey;
}

.item{
	font-size: 0.9em;
	margin: 0 0 1em 0;
}





@media only screen and (max-width: 2800px) {
	body{
		margin: auto;
		width: 80%;
	}

	.container:nth-of-type(3){
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
	}

	.container_inner:nth-of-type(1){
		columns: 3;
	}
}

@media only screen and (max-width: 2000px) {
	body{
		width: 100%;
		1background-color: rgba(249, 249, 249, 0);
	}

	.container:nth-of-type(2){
		border-bottom: 1px solid #ddd;
	}
}

@media only screen and (max-width: 1400px) {
	body{
		1background-color: rgba(231, 6, 6, 0.918);
	}
	
	.container_inner{
		width: 30% !important;
	}

	.container_inner:nth-of-type(1){
		width: 100% !important;
	}

	.container_inner:nth-of-type(1){
		columns: 2;
	}
}

@media only screen and (max-width: 1000px) {
	body{
		1background-color: rgba(255, 255, 255, 0);
	}
	.container_inner{
		width: 45% !important;
	}

	.container_inner:nth-of-type(1){
		columns: 1;
	}
}

@media only screen and (max-width: 900px) {
	body{
		1background-color: rgba(255, 255, 255, 0);
	}
	.container_inner{
		width: 45% !important;
	}
}

@media only screen and (max-width: 800px) {
	body{
		1background-color: rgba(255, 255, 255, 0);
	}

	.container_inner{
		width: 100% !important;
	}
}

@media only screen and (max-width: 700px) {

	body{
		1background-color: rgba(255, 255, 255, 0);
	}
	.container_inner{
		width: 100% !important;
	}
}