*{
	margin: 0; 
	padding: 0;
	font-size: 14px;
}

html{
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
	color: rgb(0, 0, 0);
}

::selection {
	color: rgb(0, 0, 0);
	background: rgb(247, 251, 17);
}

body{
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-style: normal;

	font-family: "Inter", sans-serif;
	font-family: "Bebas Neue", sans-serif;
	font-family: "Roboto Flex", sans-serif;
	font-family: "Archivo", sans-serif;
	font-family: "Lora", serif;
	font-family: "Saira", sans-serif;
	font-family: "Noto Sans", sans-serif;
	
}

.outer{
	background-color: rgba(241, 186, 7, 0);
}

.container{
	margin: 1em;
	border-bottom: 2px solid rgb(0, 0, 0);
	display: grid;
}

.post{
	padding: 1em 0;
	border-bottom: 1px solid grey;
	display: grid;
	gap: 1em;
}

.post p{
	padding: 1em 0;
	border-bottom: 1px solid grey;
}

.post img{
	height: auto;
	max-width: 100%;
	background-size: cover;
	display: block;
}

#info{
	width: 100%;
	font-weight: 700;
	margin: 0 1em 1em 0;
	padding: 0.5em 0;
	border-bottom: 1px solid grey;
}

.title{
	font-size: 1.5em;
	font-weight: 500;
	letter-spacing: 0.1em;
	font-family: "Bebas Neue", sans-serif;
}

ul{
	list-style: none;
	padding: 1em 0;
}

ul li{
	margin: 0 0 1em 0;
	font-weight: 500;
}

.post1{
	grid-template-columns: 1fr;
}

.post2{
	grid-template-columns: 1fr 1fr;
}

.post1-12{
	grid-template-columns: 2fr 10fr;
}

.post4{
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

#about{
	font-weight: 700;
}

#food div:nth-of-type(1) div{
	font-weight: 700;
}

#food div:nth-of-type(2) div:nth-of-type(1){
	font-weight: 700;
	color: rgb(130, 157, 240);
}

#food div:nth-of-type(2) div:nth-of-type(2){
	font-weight: 700;
}

#food div:nth-of-type(4) div:nth-of-type(1){
	font-weight: 300;
	color: rgb(0, 0, 0);
}

#nav{
	position: sticky;
	top: 0;
}

#nav ul{
	list-style: none;
	padding: 1em 0;
}

#nav li{
	display: inline;
	margin: 0 1em 0 0;
	font-weight: 500;
}




@media only screen and (max-width: 2800px) {
	body{
		background-color: rgba(218, 13, 13, 0);

		width: 60%;
		margin: auto;
	}
}

@media only screen and (max-width: 1400px) {
	body{
		background-color: rgba(209, 236, 122, 0);
		width: 80%;
		margin: auto;
	}
}

@media only screen and (max-width: 1000px) {
	body{
		background-color: rgba(37, 211, 185, 0);
		width: 100%;
	}
}

@media only screen and (max-width: 900px) {
	body{
		background-color: rgba(26, 167, 43, 0);
	}
}

@media only screen and (max-width: 800px) {
	body{
		background-color: rgba(8, 85, 238, 0);
	}
}

@media only screen and (max-width: 700px) {
	body{
		background-color: rgba(41, 221, 13, 0);
	}

	.post1-12{
		grid-template-columns: 1fr;
	}

	.post4{
		grid-template-columns: 1fr 1fr;
}

}

@media only screen and (max-width: 300px) {
	body{
		background-color: rgba(246, 11, 11, 0);
	}
}