*{margin: 0; padding: 0;}

a{
	text-decoration: none;
	color: rgb(0, 0, 0);
}

::selection {
	color: rgb(0, 0, 0);
	background: rgb(255, 247, 0);

}
/*

*/

body{
	font-family: "Playfair Display", serif;
	font-family: "Outfit", sans-serif;
	font-family: "Outfit", sans-serif;

	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	background-color: rgba(255, 0, 0, 0);

	width:90%;
	margin: 0px auto;
	position: absolute;
}

.toppic{
	max-height: 30em;
	overflow: hidden;
}

.containerall{
	width: auto;
	margin: 0 2em;
	padding: 1em 0;
	max-width: 80em;
	border-bottom: 1px solid #eee;
	background-color: rgba(255, 0, 0, 0);
}

.top{}

.top li{
	margin: 0 1em 0 0;
	display: inline;
	list-style: none;
}

.containerall:nth-child(1){
	border-bottom: 3px solid black;
}

.containerall:nth-child(2){

}


.containerall:nth-child(3){
	position: sticky;
	top: 0;
	background-color: rgb(255, 255, 255);
}

.middle .headline{
	font-size: 30px;
	font-family: "Bebas Neue", sans-serif;
}

*{
	box-sizing: border-box;
}

#right{
	float: right;
}

.middle, .bottom{
	margin: 0 2em 0 10em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.bottom{

}

.containerless{
	width: 45%;
	margin: 0 1em 1em 0;
	text-align: justify;
	text-justify: inter-word;
}

.bottom img{
	width: 10%;
	height: 10%;
	margin: 0 0.2em 0 0;
}



@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 800px) {

}